.not-allowed {cursor: not-allowed;}

.cl-white{
    color: white !important;
}

/* Rojo #ED3237 */
/* Negro #373435 */

.bg-dark-purple{
    background-color: #CC1014;
}

.bg-purple{
    background-color: #ED3237;
}

.bg-blue{
    background-color: #373435;
}

.bg-gray{
    background-color: #606062;
}

.bg-check{
    background-color: #D2D3D5;
}

.btn-tab.active{
    color: white;
    background-color: #373435;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem 1rem;
    display: block;
}

.btn-tab{
    color: white;
    background-color: #ED3237;    
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.5rem 1rem;
    display: block;
}

.btn-tab.active:hover{
    text-decoration: none;
}

.btn-tab:hover{
    text-decoration: none;
    color: white;
}

.form-control:focus {
    border-color: #FD595E !important;
    box-shadow: inset 0 1px 1px rgba(126, 119, 193, 0.075), 0 0 8px rgba(126, 119, 193, 0.6) !important;
}

.requerido:after {
    content: '*';
    color: red;
    padding-left: 5px;
}

#isItLoaded {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.custom-file-label::after {
    border-radius: 4px 4px 4px 4px;
}